<section class="rupeek-advantages">
    <h2>The Rupeek Advantage</h2>
    <div class="card-wrapper">
        <div class="card">
            <div class="image">
                <img src="/img/save.svg" alt="">
            </div>
            <p>Save up to
                ₹12,377/lakh on
                interest
            </p>
        </div>
        <div class="card">
            <div class="image">
                <img src="/img/banks.svg" alt="">
            </div>
            <p>Save up to
                ₹12,377/lakh on
                interest
            </p>
        </div>
        <div class="card">
            <div class="image">
                <img src="/img/insurance.svg" alt="">
            </div>
            <p>Save up to
                ₹12,377/lakh on
                interest
            </p>
        </div>
    </div>
</section>