<section class="apply-easy-steps">
    <div class="headings">
        <h2>Apply in 4 Easy Steps</h2>
        <p>Our gold loan process is simple and
            easy to understand.
        </p>
    </div>
    <div class="each-steps">
        <div class="step">
            <div class="image">
                <img src="/img/app_payment.svg" alt="">
            </div>
            <div class="description">
                <h4>Apply for a Loan</h4>
                <p>Apply on our website for the
                    best gold loan or give us a
                    call at 08068186818 to
                    schedule an appointment.
                </p>
            </div>
        </div>
        <div class="step">
            <div class="image">
                <img src="/img/app_payment.svg" alt="">
            </div>
            <div class="description">
                <h4>Apply for a Loan</h4>
                <p>Apply on our website for the
                    best gold loan or give us a
                    call at 08068186818 to
                    schedule an appointment.
                </p>
            </div>
        </div>
    </div>
    <div class="guarantee-safety">
        <p>At Rupeek, we not only make your gold loan
            process more convenient, but we also guarantee
            best-in-class safety. Rupeek offers free 100%
            insurance cover and has partnered with trusted
            lenders, including ICICI Bank, Karur Vysya Bank
            and Federal Bank. Our bank partnerships ensure
            that your gold is stored safely in secured bank
            lockers, making sure your online gold loan
            experience is worry-free.
        </p>
    </div>
</section>