<section class="location-select">
    <div class="selection-box">
        <p> <span>Get in touch</span> with us for the best &lt;gold loan
            in Bangalore.&gt;
        </p>
        <select class="list-of-localities">
            <option>List of Localities</option>
            <option value="bangalore">Bangalore</option>
            <option value="Surat">Surat</option>
            <option value="Kolkata">Kolkata</option>
            <option value="Delhi">Delhi</option>
        </select>
    </div>
    <div class="meta-description">
        <p>Whether you’re looking to avail a new &lt;gold loan in
            bangalore&gt; or you’re looking for a gold loan
            transfer, Rupeek is here to help you. You can take a
            look at our low-interest repayments rates when
            compared to competitors in our interest
            repayment calculator and transfer your existing
            loan in a simple, hassle-free manner. You can also
            opt for an extended credit line through Rupeek
            Quick and pay interest only for the loan amount
            used.
        </p>
    </div>
</section>