<section class="rupeek-quick">
    <div class="instant-credit">
        <div class="image">
            <img src="/img/rupeek_quick.svg" alt="">
        </div>
        <p>Get instant <br>
            credit line
        </p>
    </div>
    <div class="extra-data">
        <p>If you have frequent and last-minute cash needs,
            you can opt for Rupeek Quick, Rupeek’s overdraft
            facility . Customers also have the option to pay
            interest only for the amount spent by opting for
            an online gold loan through Rupeek Quick. You
            can pledge your gold for an extended credit line
            from which money can be transferred to your
            account for transactions. The interest amount will
            only be generated when the money is put to use.
        </p>
        <br>
        <p>You can choose from our wide range of flexible
            repayment plans so that you never have to think
            twice about availing a loan against gold.
        </p>
    </div>
</section>

