{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "title" "Latest stories") }}


<section class="rupeek-posts">
  <ul class="flex-ns flex-wrap">
    {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
    <div class="city-render">
      {{ .Render "li"}}
    </div>
    {{ end }}
  </ul>
  {{ partial "pagination" . }}
</section>


<!-- <div class="mw7 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
    {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
    <div class="city-render">
      {{ .Render "li"}}
    </div>
    {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div> -->

{{end}}