{{ define "main" }}

<!-- <div class="mw6 center ph3 pv4">
  <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
  <div class="flex justify-between grey-3">
    <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    <p>Read in {{ .ReadingTime }} minutes</p>
  </div>
  <div class="cms mw6">
    <p>{{ .Description }}</p>
    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
    {{ .Content }}
  </div>
</div> -->


<section class="city-with-rupeek">
  <h1>{{.Title}}</h1>
  <div class="meta-data">
    <p>{{ .Description }}</p>
    <br>
    <p>{{ .Content }}</p>
    <ul class="three-Fs">
      <li>
        <h4>Fair</h4>
        Choose from our range of low-interest loans as
        per the &lt;gold rate in Bangalore&gt; with the zero
        hidden charges, with the help of our interest rate
        calculator.
      </li>
      <li>
        <h4>Fast</h4>
        Get instant loan disbursal within 30 minutes
      </li>
      <li>
        <h4>Flexible</h4>
        Repay the loan amount in monthly installments
        or within a single shot
      </li>
    </ul>
  </div>
</section>


{{ partial "advantages" . }}

{{ partial "easy-steps" . }}

{{ partial "rupeek-quick" . }}

{{ partial "location-select" . }}

{{ partial "low-interest" . }}

{{ end }}