{{ define "main" }}
<!-- 
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }} -->

<section class="rupeek-posts">
    <ul class="flex-ns flex-wrap">
        {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
        <div class="city-render">
            {{ .Render "li"}}
        </div>
        {{ end }}
    </ul>
    {{ partial "pagination" . }}
</section>

{{ end }}